# Python
venv/
__pycache__/
*.pyc

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
dist/*
dist


# TODO
todo.txt
_todo.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

.env
.env.local

browser-use-main-git/

# OS
.DS_Store
Thumbs.db

browser-use-main-git/

# original-source
# original-source/
# original-source-NOT_IGNORED/
# original-source-NOT_IGNORED/*
src-python
python-examples
test-python
python-tests

src-python/
python-examples/
test-python/
python-tests/


src-python/*
python-examples/*
test-python/*
python-tests/*

*.py


dist/
dist/*
dist

results/
results/*
results

# original-source-NOT_IGNORED/
# original-source-NOT_IGNORED/*


tmp/
tmp/*
tmp
